stockClient/src/conf/xml-resources/web-service-references/stockWebService/wsdl/localhost_8080/stockWebApplication/stockWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://myws.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://myws.org/" name="stockWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/Shares" schemaLocation="http://localhost:8080/stockWebApplication/stockWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://myws.org/" schemaLocation="http://localhost:8080/stockWebApplication/stockWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="priceOrder">
<part name="parameters" element="tns:priceOrder"/>
</message>
<message name="priceOrderResponse">
<part name="parameters" element="tns:priceOrderResponse"/>
</message>
<message name="dateOrder">
<part name="parameters" element="tns:dateOrder"/>
</message>
<message name="dateOrderResponse">
<part name="parameters" element="tns:dateOrderResponse"/>
</message>
<message name="shareBuy">
<part name="parameters" element="tns:shareBuy"/>
</message>
<message name="shareBuyResponse">
<part name="parameters" element="tns:shareBuyResponse"/>
</message>
<message name="shareOrder">
<part name="parameters" element="tns:shareOrder"/>
</message>
<message name="shareOrderResponse">
<part name="parameters" element="tns:shareOrderResponse"/>
</message>
<message name="shareSell">
<part name="parameters" element="tns:shareSell"/>
</message>
<message name="shareSellResponse">
<part name="parameters" element="tns:shareSellResponse"/>
</message>
<message name="allStocks">
<part name="parameters" element="tns:allStocks"/>
</message>
<message name="allStocksResponse">
<part name="parameters" element="tns:allStocksResponse"/>
</message>
<message name="searchStock">
<part name="parameters" element="tns:searchStock"/>
</message>
<message name="searchStockResponse">
<part name="parameters" element="tns:searchStockResponse"/>
</message>
<portType name="stockWebService">
<operation name="priceOrder">
<input wsam:Action="http://myws.org/stockWebService/priceOrderRequest" message="tns:priceOrder"/>
<output wsam:Action="http://myws.org/stockWebService/priceOrderResponse" message="tns:priceOrderResponse"/>
</operation>
<operation name="dateOrder">
<input wsam:Action="http://myws.org/stockWebService/dateOrderRequest" message="tns:dateOrder"/>
<output wsam:Action="http://myws.org/stockWebService/dateOrderResponse" message="tns:dateOrderResponse"/>
</operation>
<operation name="shareBuy">
<input wsam:Action="http://myws.org/stockWebService/shareBuyRequest" message="tns:shareBuy"/>
<output wsam:Action="http://myws.org/stockWebService/shareBuyResponse" message="tns:shareBuyResponse"/>
</operation>
<operation name="shareOrder">
<input wsam:Action="http://myws.org/stockWebService/shareOrderRequest" message="tns:shareOrder"/>
<output wsam:Action="http://myws.org/stockWebService/shareOrderResponse" message="tns:shareOrderResponse"/>
</operation>
<operation name="shareSell">
<input wsam:Action="http://myws.org/stockWebService/shareSellRequest" message="tns:shareSell"/>
<output wsam:Action="http://myws.org/stockWebService/shareSellResponse" message="tns:shareSellResponse"/>
</operation>
<operation name="allStocks">
<input wsam:Action="http://myws.org/stockWebService/allStocksRequest" message="tns:allStocks"/>
<output wsam:Action="http://myws.org/stockWebService/allStocksResponse" message="tns:allStocksResponse"/>
</operation>
<operation name="searchStock">
<input wsam:Action="http://myws.org/stockWebService/searchStockRequest" message="tns:searchStock"/>
<output wsam:Action="http://myws.org/stockWebService/searchStockResponse" message="tns:searchStockResponse"/>
</operation>
</portType>
<binding name="stockWebServicePortBinding" type="tns:stockWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="priceOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dateOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shareBuy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shareOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shareSell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="allStocks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="stockWebService">
<port name="stockWebServicePort" binding="tns:stockWebServicePortBinding">
<soap:address location="http://localhost:8080/stockWebApplication/stockWebService"/>
</port>
</service>
</definitions>